---
import { type CollectionEntry, render } from 'astro:content'

import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import PostLayout from '@/layouts/BlogPost.astro'

export const prerender = true

export async function getStaticPaths() {
  const posts = sortMDByDate(await getBlogCollection())
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post, posts }
  }))
}

type Props = {
  post: CollectionEntry<'blog'>
  posts: CollectionEntry<'blog'>[]
}

const { post, posts } = Astro.props

const blockedPostIds = new Set(['2_week6'])
const isBlocked = blockedPostIds.has(post.id)

const { Content, headings, remarkPluginFrontmatter } = await render(post)
---

<PostLayout {post} {posts} {headings} {remarkPluginFrontmatter}>
  {
    isBlocked ? (
      <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
        <h1 class='block text-3xl font-medium'>渲染出错</h1>
        <p class='mt-3 text-muted-foreground'>src/pages/blog/[...id].astro:44:8 - error ts(2604): Component 'Content' is not a valid component.If this is a Svelte or Vue component, it might have a syntax error that makes it impossible to parse.</p>
      </div>
    ) : (
      <Content />
    )
  }
</PostLayout>
